#VSCode build files
*/.vscode/

#PlatformIO build files
*/.pio/

#Internal PlatformIO gitignores
*/.gitignore

#LaTex build files
*.aux
*.log
*.gz
*.toc
*.out

#Images
*.png

#UML text files
*/uml/

#Build files
*/build/
*/bin/

#Bash scripts
*.sh
